{% extends 'base.html' %}

{% block title %}Дом{% endblock title %}


{% block content %}
  <div class="row text-center">
    <h2 class="col-4 mx-auto my-3">Welcome to STORAGE!</h2>
  </div>
  {% if database_exists %}
  <div class="row my-3">
    {% with 
      drop_database_url = url_for('home.drop_database'),
      clear_database_url = url_for('home.clear_database'),
      test_input_url = url_for('home.test_input')
    %}
    <a name="" id="" class="btn btn-danger col-2 mx-auto" href="{{ drop_database_url }}" role="button">Удалить базу</a>
    <a name="" id="" class="btn btn-danger col-2 mx-auto" href="{{ clear_database_url }}" role="button">Очистить базу</a>
    <a name="" id="" class="btn btn-success col-2 mx-auto" href="{{ test_input_url }}" role="button">Test input</a>
    {% endwith %}
  </div>
  <div class="row my-3">
    {% for table in tables %}
    {% with table_url = url_for('tables.table', table_name=table)  %}
    <a class=" btn btn-light card text-center col-md-2 col-5 mx-auto my-2" href="{{ table_url }}">
      <div class="card-body">
        <h4 class="card-title">{{ tables[table]['title'] }}</h4>
        <p class="card-text">{{ count(table) }}</p>
      </div>
      {% endwith %}
    </a>
    {% endfor %}
  </div>
  {% else %}
  <div class="row">
    {% with 
        create_database_url = url_for('home.create_database')
    %}
    <a name="" id="" class="btn btn-success col-3 mx-auto" href="{{ create_database_url }}" role="button">Создать базу</a>
    {% endwith %}
  </div>
  {% endif %}
{% endblock content %}
  